{% extends "base.html" %}

{% block page %}
<div class="container">
	<div class="row">
		<div class="span12">
			<div class="box">
				<section class="module">
					<header class="module-heading">
						<h1>Login Using CKAN</h1>
					</header>
					<div class="module-content">
						<input type="submit" class="btn btn-danger" value="Cancel" />
						<input type="submit" class="btn btn-primary" name="authorize" value="Authorize" />
					</div>
				</section>
			</div>
		</div>
	</div>
</div>
{% endblock %}
